<!DOCTYPE html>
<html lang="en">
  <head>     
    <title>{% block title%}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='assets/map.PNG') }}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css"
      type="text/css"
    />
    <scripts>
      {% block scripts %}
      {% endblock %}
    </scripts>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
      body {
        font-family: 'Lato', sans-serif;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 7rem;
        max-width: 1000px;
        align-content: center;
      }
      
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>Stiwima</h1>
    {% block content1 %}
    {% endblock %}
    {% block uploader %}
    {% endblock %}
    {% block chooseNodes %}
    {% endblock %}
  </body>
</html>
