{% extends "index.html" %}
{% block title %}Stiwima{% endblock %}
{% block metas %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}
{% block scripts %}
{{ super() }}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
{% endblock %}

{% block content1 %}
<iframe width="1000" height="500" frameborder="0" src="{{ pranala }}"></iframe>
{% endblock %}

{% block uploader %}
<div class="container my-3">
  <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" name="sabmeet" value="Submit" />
  </form> 
</div>
{% endblock %}

{% block chooseNodes %}
<div class="container">
  <form action="/astar" method="POST">
    <div class="row">
      <div class="col-sm">
        <select name=nA style="width: 200px">
          <!-- <option value="{{src}}" selected>{{src}}</option> -->
          {% for nA in nodeA[0:] %}
          <option value="{{nA}}">{{nA}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm">{{src}}</div>
    </div>
    <div class="row">
      <div class="col-sm">
        <select name=nB style="width: 200px">
          <!-- <option value="{{dest}}" selected>{{dest}}</option> -->
          {% for nB in nodeB[0:] %}
          <option value="{{nB}}">{{nB}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm">{{dest}}</div>
    </div>
    <br>
    <input type="submit" name="getMap" value="Astar!"/>
  </form>
  <!-- <div class="row">
    <div class="col-sm">
      <form action="/astar" method="POST">
        <input type="submit" name="getMap" value="Astar!"/>
      </form>
    </div>
  </div> -->
</div>
{% endblock %}
